<!-- Mission Section -->
<section id="mission" class="bg-light-gray">
    {% for section in site.data.mission.sections %}
    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">{{ section.title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-muted">{{ section.description }}</p>
                </div>
            </div>
        </div>
        {% if forloop.last == false %}
            
        {% endif %}
    {% endfor %}
</section>