<!-- HEAR MODAL -->
<div id="hear" class="modal fade portfolio-modal" role="dialog">
    <div class="modal-content">
        <!-- HEAR Modal header -->  
        <div class="modal-header bricks-bg-img"> 
            <button type="button" class="btn btn-info close-modal" data-dismiss="modal" aria label="Close">&times;</button>
            <h1 class="modal-title text-left"><i class="fas fa-users fa-1x"></i> Hear</h1>
        </div>
        <!-- HEAR Modal body -->
        <div class="modal-body large modal-text text-left row">
            <div class="panel panel-default">
                <div class="panel-body">

                    <p>The <strong>H: HEAR</strong> phase is about:</p>
                    <ol>
                        <li>developing a deeper understanding of the people you are designing for (empathy) and</li>
                        <li>defining the problem you are trying to solve.</li>
                    </ol>

                    <p>The <strong>HEAR</strong> is the "H" in <strong>H</strong>uman Centered Design (<strong>H</strong>CD), a simplifed version of <a href="https://www.interaction-design.org/literature/article/5-stages-in-the-design-thinking-process" target="_blank">Design Thinking</a> developed by the <a href="https://www.interaction-design.org/literature/article/design-thinking-a-quick-overview" target="_blank">Interaction Design Foundation</a>.</p>


                    <h3>What is Design Thinking?</h3>
                    <p>Design Thinking is a way to think about and solve problems. Most Design Thinkers refer to the 5 Stages of Design Thinking by Stanford’s d.school: <a href="https://www.interaction-design.org/literature/article/stage-1-in-the-design-thinking-process-empathise-with-your-users" target="_blank">Empathize</a>, <a href="https://www.interaction-design.org/literature/article/stage-2-in-the-design-thinking-process-define-the-problem-and-interpret-the-results" target="_blank">Define (the problem)</a>, <a href="https://www.interaction-design.org/literature/article/stage-3-in-the-design-thinking-process-ideate" target="_blank">Ideate</a>, <a href="https://www.interaction-design.org/literature/article/stage-4-in-the-design-thinking-process-prototype" target="_blank">Prototype</a> and <a href="https://www.interaction-design.org/literature/article/stage-5-in-the-design-thinking-process-test" target="_blank">Test</a>.</p>

                    <img src="/img/design-thinking-stages.jpg" class="img-responsive center-block" style="margin-bottom: 0; padding-bottom: 0; max-width: 50%;">
                    <figure>Author/Copyright holder: Teo Yu Siang and Interaction Design Foundation. Copyright terms and licence: CC BY-NC-SA 3.0</figure>

                    <h3 class="modal-heading">Empathize</h3>

                    <p>Designing an effective and appealing product starts with a deeper understanding of the people you are designing for. That means gaining <a href="https://www.interaction-design.org/literature/article/stage-1-in-the-design-thinking-process-empathise-with-your-users" target="_blank">empathy</a> for that person - the ability to understand and share the feelings of that person.</p>

                    <p>Your goal is to gain insights into your target user by understanding their needs, thoughts, emotions and motivations. The good news is that you have a wide range of methods at your command for learning more about people:</p>

                    <div class="panel-group" id="accordion">
                        <!-- Pre-Data Collection -->
                        <h3>Pre-Data Collection</h3>
                        <!-- Beginner's Mindset -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#beginner-mindset">
                                        Beginner's Mindset
                                    </a>
                                </h4>
                            </div>
                            <div id="beginner-mindset" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>For you to truly empathize with target users, you should try to adopt the mindset of a beginner. Why assume a beginner's mindset?</p>
                                    <p>We humans all have our own assumptions and beliefs that we carry around, every day. Your life experiences sculpt your beliefs and assumptions and helps you to make sense of the world. However, this affects your ability to empathize with the people we observe.</p>
                                    <p>To empathize do your best to leave your own assumptions and experiences behind when making observations.  Below are some tips on how to assume a beginner’s mindset from <a href="https://dschool-old.stanford.edu/groups/k12/wiki/4e22d/Beginners_mind.html" target="_blank">Stanford’s d.school:</a></p>
                                    <ul>
                                        <li><strong>Don’t judge</strong>. Just observe and engage users without the influence of value judgments upon their actions, circumstances, decisions, or “issues.”</li>
                                        <li><strong>Question everything</strong>. Even (and especially) the things you think you already understand. Ask questions to learn about how the user perceives the world. Think about a 5-year-old who asks “Why?” a hundred times.</li>
                                        <li><strong>Be truly curious</strong>. Strive to assume a posture of wonder and curiosity, especially in circumstances that seem either familiar or frightening.</li>
                                        <li><strong>Find patterns</strong>. Look for interesting threads and themes that emerge across interactions with users.</li>
                                        <li><strong>Listen</strong>. Really. Lose your agenda and let the scene soak into your psyche. Absorb what users say to you, and how they say it, without thinking about the next thing you’re going to say.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Collecting Data -->
                        <h3>Data Collection</h3>
                        <!-- Empathy Interviews -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#empathy-interviews">
                                        Empathy Interviews
                                    </a>
                                </h4>
                            </div>
                            <div id="empathy-interviews" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="embed-container">
                                        <iframe src="https://drive.google.com/file/d/1QPWYCXETA3rRN4FhjM7_yI6yRLSfQs-9/preview" width="640" height="480"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Journey Map  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#journey-map">
                                        User Journey Map
                                    </a>
                                </h4>
                            </div>
                            <div id="journey-map" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="embed-container">
                                        <iframe src="https://drive.google.com/file/d/14BIPlEBqz6I9GWlGoSrlRQaVLeDXRQSP/preview" width="640" height="480"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- 5 Whys Method -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#5-whys-method">
                                        5 Whys Method
                                    </a>
                                </h4>
                            </div>
                            <div id="5-whys-method" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="embed-container">
                                        <iframe src="https://drive.google.com/file/d/15m6Zjn0b0ziVY-JuavvD5dX-TGG1CEI9/preview" width="640" height="480"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Empathize Videos 
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#empathize-videos">Videos
</a>
</h4>
</div>
<div id="empathize-videos" class="panel-collapse collapse">
<div class="panel-body">

<p>The video below by Cleveland Clinic is from the perspective of people that are in a hospital - patients and staff.</p>

<div class="embed-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/cDDWvj_q-o8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>Tom Kelley, a pioneer and leader in Design Thinking, talks about the importance of observing target users in their own environment and how much of an impact insights can have on design and the bottom line.</p>

<div class="embed-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XrpAveg7ZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
</div>
</div>-->

                    </div>

                    <h3 class="modal-heading">Define the Problem</h3>

                    <p>In this stage, analyze your data from the <strong>empathize</strong> stage and <a href="https://www.interaction-design.org/literature/article/stage-2-in-the-design-thinking-process-define-the-problem-and-interpret-the-results" target="_blank" alt="Use Design Thinking to define a problem Statement">define the problem</a> you want to solve.</p>

                    <p>A great definition of your problem will be able to guide you and give you a clearer, more focused approach to the next stages.</p>

                    <p>The goal of the Define mode is to craft a meaningful and actionable problem statement. This is otherwise known as a the POV (point-of-view) of your target user.</p>

                    <p>During your research, you might uncover some insights and problems, however, it is critical to "frame the right problem to create the right solution."</p>

                    <p>To interpret results, use methods like space saturating, empathy mapping, and laddering questions: </p>

                    <!-- Analyzing Data -->
                    <h3>Organizing Data and Interpreting Results</h3>
                    <div class="panel-group" id="accordion">
                        <!-- POV Problem Statement -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#pov-statement">
                                        POV Problem Statement
                                    </a>
                                </h4>
                            </div>
                            <div id="pov-statement" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="embed-container">
                                        <iframe src="https://drive.google.com/file/d/1I5B4d2VTJ31Tr78hdqOjbFj5QZpCYnqe/preview" width="640" height="480"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Empathy Map -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#empathy-map">
                                        Empathy Map
                                    </a>
                                </h4>
                            </div>
                            <div id="empathy-map" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="embed-container">
                                        <iframe src="https://drive.google.com/file/d/1YkQQXMjBXUwsORsKeQtZzzXpYtLd65GF/preview" width="640" height="480"></iframe>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Space Saturating  -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#space-saturating">
                                        Space Saturating
                                    </a>
                                </h4>
                            </div>
                            <div id="space-saturating" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><a href="https://dschool-old.stanford.edu/groups/k12/wiki/65da6/Space_Saturation_and_Group.html" target="_blank">Space saturating</a>, or grouping, is exactly what it sounds like: saturate a space. Bring all your findings into one place to create a collage of interviews and ideas. From there, it will be easier to draw connections between the individual observations and help to both develop deeper insights and define the problem(s).</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<h3 class="modal-heading">Resources</h3>
                    <h3 class="modal-heading-2">Empathize</h3>
                    <ul>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/stage-1-in-the-design-thinking-process-empathise-with-your-users">Empathize with Your Users</a>
                        </li>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/design-thinking-getting-started-with-empathy" target="_blank">Getting Started with Empathy</a>
                        </li>
                        <li>
                            <a href="https://webdesign.tutsplus.com/articles/how-to-practice-immersive-empathy-in-design-thinking--cms-31217" target="_blank">How to Practice Immersive Empathy in Design Thinking</a></li>
                        <li>
                            <a href="https://webdesign.tutsplus.com/articles/techniques-of-empathy-interviews-in-design-thinking--cms-31219" target="_blank">Techniques for Empathy Interviews in Design Thinking</a>
                        </li>
                    </ul>

                    <h3 class="modal-heading-2">Define the Problem</h3>
                    <ul>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/stage-2-in-the-design-thinking-process-define-the-problem-and-interpret-the-results" target="_blank">Define the Problem and Interpret the Results</a>
                        </li>
                        <li>
                            <a href="https://dschool-old.stanford.edu/groups/k12/wiki/65da6/Space_Saturation_and_Group.html" target="_blank">Space Saturation and Group</a>
                        </li>
                        <li>
                            <a href="https://dschool-old.stanford.edu/groups/k12/wiki/3d994/empathy_map.html" target="_blank">Empathy mapping</a>
                        </li>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/laddering-questions-drilling-down-deep-and-moving-sideways-in-ux-research" target="_blank">Laddering questions</a>
                        </li>
                    </ul>

                    <h3 class="modal-heading-2">Design Thinking</h3>
                    <ul>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/5-stages-in-the-design-thinking-process" target="_blank">5 Stages in the Design Thinking Process</a>
                        </li>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/design-thinking-a-quick-overview" target="_blank">Design Thinking: A Quick Overview</a></li>
                        <li>
                            <a href="https://www.interaction-design.org" target="_blank">Interaction Design Foundation</a>
                        </li>
                        <li>
                            <a href="/docs/StanfordDSchoolDesignThinking.pdf" target="_blank">The Stanford D.School's Design Thinking Guide.</a>
                        </li>
                        <li>
                            <a href="https://www.ideo.com/post/design-kit" target="_blank">Design Kit: The Human-Centered Design Toolkit</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <!-- HEAR Modal footer -->
        <div class="modal-footer row">
            <button type="button" class="btn btn-info close-modal-b" data-dismiss="modal" aria label="Close">&times;</button>
        </div>
    </div>
</div>

<!-- CREATE MODAL -->
<div id="create" class="modal fade portfolio-modal" role="dialog">
    <div class="modal-content">


        <!-- CREATE Modal header -->  
        <div class="modal-header bricks-bg-img"> 
            <button type="button" class="btn btn-info close-modal" data-dismiss="modal" aria label="Close">&times;</button>
            <h1 class="modal-title text-left"><i class="fas fa-users fa-1x"></i> Create</h1>
        </div>


        <!-- CREATE Modal body -->
        <div class="modal-body large modal-text text-left row">
            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- CREATE Modal Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#about-create" role="tab" data-toggle="tab">About this phase</a></li>
                        <li><a href="#ideate" role="tab" data-toggle="tab">Ideate</a></li>
                        <li><a href="#prototype" role="tab" data-toggle="tab">Prototype</a></li>
                        <li><a href="#resources-create" role="tab" data-toggle="tab">Resources</a></li>
                    </ul>

                    <!-- CREATE Modal Tab sections -->
                    <div class="tab-content">

                        <!-- ABOUT CREATE TAB -->
                        <div class="tab-pane active" id="about-create">
                            <p>Design Thinking is a way to think about and solve problems. Most Design Thinkers refer to the 5 Stages of Design Thinking by Stanford’s d.school: <a href="https://www.interaction-design.org/literature/article/stage-1-in-the-design-thinking-process-empathise-with-your-users" target="_blank">Empathize</a>, <a href="https://www.interaction-design.org/literature/article/stage-2-in-the-design-thinking-process-define-the-problem-and-interpret-the-results" target="_blank">Define (the problem)</a>, <a href="https://www.interaction-design.org/literature/article/stage-3-in-the-design-thinking-process-ideate" target="_blank">Ideate</a>, <a href="https://www.interaction-design.org/literature/article/stage-4-in-the-design-thinking-process-prototype" target="_blank">Prototype</a> and <a href="https://www.interaction-design.org/literature/article/stage-5-in-the-design-thinking-process-test" target="_blank">Test</a>.</p>

                            <p>The AEF will utilize a simplifed version of this model called HCD - Human Centered Design, developed by the <a href="https://www.interaction-design.org/literature/article/design-thinking-a-quick-overview" target="_blank">Interaction Design Foundation</a>. The following (Ideate and Prototype) represents the <strong>C: CREATE</strong> phase of the HCD model.</p>

                            <img src="/img/design-thinking-stages.jpg" class="img-responsive center-block" style="margin-bottom: 0; padding-bottom: 0; height: 400px; width: auto;">
                            <figure>Author/Copyright holder: Teo Yu Siang and Interaction Design Foundation. Copyright terms and licence: CC BY-NC-SA 3.0</figure>

                            <p>The Create phase is about brainstorming solutions to your problem that you developed in the Hear phase and building a prototype.</p> 

                        </div>

                        <!-- IDEATE TAB -->
                        <div class="tab-pane" id="ideate">
                            <h3 class="modal-heading">Ideate</h3>

                            <p>The main goal of ideation is to develop innovative ideas to solve the problem you defined in the HEAR Phase.</p>

                            <p><a href="https://drive.google.com/file/d/1_g9K7gETnj4HxGqZ1D-qDP9w9l5_4TFc/view?usp=sharing">brainstorm</a></p>

                            <p>The majority of ideation techniques are typically some form of brainstorming.</p>

                            <p>And there are hundreds of <a href="https://www.interaction-design.org/literature/topics/ideation" target="_blank">ideation and brainstorming</a> techniques!</p>

                            <div class="embed-container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/xXsHI_VlhmY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <p>The technique you use to generate ideas to your solution doesn't really matter, it's about getting to a process that works.</p>

                            <p>We will cover a few of the more popular ideation and brainstorming methods below (click on the menu below). Regardless of the method, being an "Active Facilitator" is critical to a successful ideation session, so review that first.</p>

                            <div class="panel-group" id="accordion">
                                <!-- ACTIVE FACILITATOR -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#facilitator">
                                                Active Facilitator
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="facilitator" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Active Facilitation of your Brainstorm session can be challenging, but it is critical to the success of your session.</p>
                                            <p>Listed below are some tips on how to be a good active facilitator:</p>

                                            <ul>
                                                <li>Plan your session (by the minute) ahead of time.</li>
                                                <li>Develop materials before your session.</li>
                                                <li>Create a comfortable, free and open environment to hold your session.</li>
                                                <li>Assign someone to keep track of ideas.</li>
                                                <li>Post ideas to a whiteboard or wall.</li>
                                                <li>Adapt the session and impose constraints (e.g. time limit) if ideas are running low.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- BRAINSTORMING -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#brainstorm">
                                                Brainstorming
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="brainstorm" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Brainstorming is one of the primary methods used during the Ideation stage.</p>
                                            <p>It is a greate way to generate ideas and get the collective thinking of the group.</p>
                                            <p>While brainstorming, group members are tasked to focus on one problem at a time, generate at many ideas as possible, build on each other's ideas and narrow down all the ideas into one grand solution.</p>
                                            <p>Below is a list of best practices from the Interaction Design Foundation and Stanford's d.school.</p>

                                            <ol>
                                                <li><strong>Set a time limit</strong>.</li>
                                                <li><strong>Start with a problem statement, point of view or goal to focus on the topic</strong>.</li>
                                                <li><strong>Start with a problem statement, point of view or goal to focus on the topic</strong>.</li>
                                            </ol>

                                        </div>
                                    </div>
                                </div>
                                <!-- ACCORDION SECTION -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Videos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <p>The video below by Cleveland Clinic is from the perspective of people that are in a hospital - patients and staff.</p>

                                            <div class="embed-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/cDDWvj_q-o8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                            <p>Tom Kelley, a pioneer and leader in Design Thinking, talks about the importance of observing target users in their own environment and how much of an impact insights can have on design and the bottom line.</p>

                                            <div class="embed-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XrpAveg7ZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div>

                        <!-- PROTOTYPE TAB -->
                        <div class="tab-pane" id="prototype">
                            <h3 class="modal-heading">Ideate-Brainstorm</h3>

                            <p>One technique that we like to use at AHS is to sketch out as many ideas as possible within a certain timeframe, perhaps 5 minutes.</p>
                            <p>The goal is to generate as many ideas as possible, to come up with a "range of possibilities." You could call it a "visual brainstorm".</p>
                            <p>If you are working on teams, you can do this exercise individually then share and merge your ideas until you come up with one grand solution.</p>
                            <p>Once you agree on one solution, it's time to start building it, also known prototyping.</p>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Active Facilitator
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>For you to truly empathize with target users, you should try to adopt the mindset of a beginner. Why assume a beginner's mindset?</p>
                                            <p>We humans all have our own assumptions and beliefs that we carry around, every day. Your life experiences sculpt your beliefs and assumptions and helps you to make sense of the world. However, this affects your ability to empathize with the people we observe.</p>
                                            <p>To empathize do your best to leave your own assumptions and experiences behind when making observations.  Below are some tips on how to assume a beginner’s mindset from <a href="https://dschool-old.stanford.edu/groups/k12/wiki/4e22d/Beginners_mind.html" target="_blank">Stanford’s d.school:</a></p>
                                            <ul>
                                                <li><strong>Don’t judge</strong>. Just observe and engage users without the influence of value judgments upon their actions, circumstances, decisions, or “issues.”</li>
                                                <li><strong>Question everything</strong>. Even (and especially) the things you think you already understand. Ask questions to learn about how the user perceives the world. Think about a 5-year-old who asks “Why?” a hundred times.</li>
                                                <li><strong>Be truly curious</strong>. Strive to assume a posture of wonder and curiosity, especially in circumstances that seem either familiar or frightening.</li>
                                                <li><strong>Find patterns</strong>. Look for interesting threads and themes that emerge across interactions with users.</li>
                                                <li><strong>Listen</strong>. Really. Lose your agenda and let the scene soak into your psyche. Absorb what users say to you, and how they say it, without thinking about the next thing you’re going to say.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                Empathy Interviews
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Empathy interviews are the cornerstone of Design Thinking. Interviews are a great way to understand another person’s thoughts, feelings, needs, and goals. This will give you insights into the choices that person makes, their behavioral traits, and ultimately you can identify a person’s needs to help innovate, and create products or services for that person. Below are some steps to help you with your interview:</p>
                                            <ol>
                                                <li><strong>Identify and recruit (extreme) users  to interview</strong>. First of all, your target users will primarily be Andover High School students. Design Thinkers recommend that you pay particular attention to “extreme” target users. Why? Extreme users tend to magnify the issues of the main  group and usually have unique insights into the problem that allow you to explore beyond the obvious solutions. These could be students that have the most to say about education-related topics. You are also welcome to interview users in the “middle” or “average”. Your goal is to develop solutions for the main target group (not just extreme users). <a href="https://medium.com/@StaceyDyer/design-thinking-what-is-an-empathy-interview-25f71bd496d7" target="_blank">Experts recommend interviewing 5 people</a>; you should plan on interviewing at least 2 people.</li>
                                                <li><strong>Prepare your interview questions</strong>. Your goal is to have a meaningful, empathic conversation with a person that will help you learn more about the challenge at-hand (education). Before you ask specific questions, introduce yourself and your project and ask permission to record the interview. Let them know that their name will not be used. Then shift the focus to the person by asking them their name, grade, where they live and perhaps what activities they are involved in. Below are some tips:
                                                    <ul>
                                                        <li>Keep questions to 10 words or less</li>
                                                        <li>Get specific stories, ask about specific instances (“Tell me about the last time…”)</li>
                                                        <li>Never stop asking “why?”</li>
                                                        <li>Explore emotions like “Why do you feel that way?”</li>
                                                        <li>Observe non-verbal cues (use of hands, facial expressions)</li> 
                                                    </ul>
                                                </li>
                                                <li><strong>Have a Beginner’s Mindset</strong>. Before conducting and interview it is important to adopt a Beginner’s Mindset. It is also critical that you talk with your target users with genuine empathy. In other words, “keep it real.” Think about it… would you share your needs and goals with someone if you thought they were being fake? You want the person you are talking to feel like they are be heard.
                                                </li>
                                                <li><strong>Be an active listener</strong>. According to one study, being an active listener is being a “trampoline listener”. The theory, as described by a <a href="https://www.pointforward.com/approach/" target="_blank">leading consumer research firm</a>, is that “the best listeners are like trampolines - amplifying, energizing and clarify what is said.” This idea came from a study that concluded that active listening boils down to three things:
                                                    <ul>
                                                        <li>Don’t talk when others are speaking</li>
                                                        <li>Let the person know you are listening through facial expressions and verbal sounds (“Mmm-hmm”)</li>
                                                        <li>Repeat what others have said (like a trampoline), practically word-for-word</li>
                                                    </ul>
                                                </li>
                                                <li><strong>Make the person feel comfortable</strong>. If you expect someone to share their feelings with you, they need to feel comfortable. Meet the target user in a place that is familiar to them. Given our target users are Andover High School students, you could pick a place at AHS (like the library) or meet them somewhere else where they are comfortable.</li>
                                                <li><strong>Silence your devices</strong>. You want to be full present during your interview. If you start texting during your conversation, the person being interviewed could feel slighted or less important. Make the person feel and know that they have your undivided attention.
                                                </li>
                                                <li><strong>Interview in pairs</strong>. By interviewing in pairs, one person can focus on data collection, recording and technicalities while the other can focus on the person they are interviewing.
                                                </li>
                                                <li><strong>Record your interview</strong>. By recording your interview you ensure that you won’t miss anything. You can also document that you have permission to use the data. You will not be able to see non-verbal cues but that can be noted during the interview.
                                                </li>     
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Videos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">

                                            <p>The video below by Cleveland Clinic is from the perspective of people that are in a hospital - patients and staff.</p>

                                            <div class="embed-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/cDDWvj_q-o8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                            <p>Tom Kelley, a pioneer and leader in Design Thinking, talks about the importance of observing target users in their own environment and how much of an impact insights can have on design and the bottom line.</p>

                                            <div class="embed-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XrpAveg7ZIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>

                        <!-- RESOURCES CREATE TAB -->
                        <div class="tab-pane" id="resources-create">
                            <h3 id="resources" class="modal-heading">Resources</h3>
                            <h3 class="modal-heading-2">Ideate - Brainstorm</h3>
                            <ul>
                                <li>
                                    <a href="https://www.interaction-design.org/literature/article/stage-3-in-the-design-thinking-process-ideate" target="_blank">Ideate</a>
                                </li>
                                <li>
                                    <a href="https://uxplanet.org/whats-the-deal-with-ideation-e02324e95c8">A handful of thoughts and ideas on how to improve ideation workshops</a>
                                </li>

                            </ul>

                            <h3 class="modal-heading-2">Design Thinking Articles</h3>
                            <ul>
                                <li>
                                    <a href="https://www.interaction-design.org/literature/article/5-stages-in-the-design-thinking-process" target="_blank">5 Stages in the Design Thinking Process</a>
                                </li>
                                <li>
                                    <a href="https://www.interaction-design.org/literature/article/design-thinking-a-quick-overview" target="_blank">Design Thinking: A Quick Overview</a></li>
                                <li>
                                    <a href="https://www.interaction-design.org" target="_blank">Interaction Design Foundation</a>
                                </li>
                                <li>
                                    <a href="/docs/StanfordDSchoolDesignThinking.pdf" target="_blank">The Stanford D.School's Design Thinking Guide.</a>
                                </li>
                                <li>
                                    <a href="https://www.ideo.com/post/design-kit" target="_blank">Design Kit: The Human-Centered Design Toolkit</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- HEAR Modal footer -->
        <div class="modal-footer row">
            <button type="button" class="btn btn-info close-modal-b" data-dismiss="modal" aria label="Close">&times;</button>
        </div>


    </div>
</div>


<!----------------------------------------------------------
PROCESS MARKUP - FRONT PAGE -------------------------------->

<section id="process">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">{{ site.data.process.title }}</h2>
                <p class="section-subheading text-muted">{{ site.data.process.subtitle }}</p>
            </div>
        </div>
        <div class="row text-center">
            {% for step in site.data.process.process %}
            <div class="col-md-{{ 12 | divided_by: forloop.length }}">
                <span class="process-icon fa-stack fa-6x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="{{ step.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h1 class="service-heading">{{ step.title }}</h1>
                <p class="text-muted">{{ step.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">What we are working on this week...</h2>
                <p>We are currently working on the HEAR Phase.</p>
                <ul>
                    <li>Form your group (up to 4)</li>
                    <li>Decide on problem to explore</li>
                    <li>Draft interview script</li>
                    <li>Practice and finalize interview scripts</li>
                    <li>Create list of people to interview</li>
                </ul>
                
            </div>
        </div>
        
    
    </div>
</section>
