.team-member {
    margin-bottom: 50px;
    text-align: left;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: none;
    text-decoration: none !important;
}

.team-member p {
    margin-top: 0;
}

ul li {
    font-size: 14px;
    line-height: 1.75;
}
